<div>
    <nav class="navbar navbar-toggleable-md navbar-light bg-faded">
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarTogglerDemo01" aria-controls="navbarTogglerDemo01"
            aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
            </button>
        <div class="collapse navbar-collapse">
            <a class="navbar-brand" href="/">Cuppy</a>
            <ul class="navbar-nav mr-auto mt-2 mt-lg-0 pull-right">
                <li class="nav-item" *ngFor="let entry of navigationEntries">
                    <a class="nav-link" [routerLink]="[entry.getRoute()]">
                        <i class="{{entry.getIcon()}}"></i>
                        <span *ngIf="entry.getI18nLabel()">{{entry.getI18nLabel() | translate}}</span>
                        <span *ngIf="entry.getLabel()">{{entry.getLabel()}}</span>
                    </a>
                </li>
            </ul>
        </div>
    </nav>
    <router-outlet></router-outlet>
</div>