.competition-list-entry {
    cursor: pointer;
    border: 1px solid #ebebeb;
    padding: 5px;
    background-color: #fafafa;
    margin-bottom: 5px;
}

.competition-list-entry .col-xs-12 {
    padding-top: 5px;
    padding-bottom: 5px;
}
