<div ng-controller="MainController">
    <sidebarmenu type="main" toggle-menu-ref="menuToggle" side="left"></sidebarmenu>
    <div id="mainContent">
        <div class="mobile-menu-button" ng-click="toggleMenu($event)" ng-show="isMobile">
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
        </div>
        <navigation ng-if="!isMobile" data="{title:'Cuppy', type: 'main'}"></navigation>
        <!--<is-verified></is-verified>-->
        <div ui-view></div>
        <!--<smallstack-version-footer></smallstack-version-footer>-->
    </div>
    <news></news>
    <online-status></online-status>
</div>
