<div ng-if="showMyCompetitions">
    <h4>My Competitions</h4>
    <div class="row competition-list-entry" ng-repeat="competition in myCompetitions track by $id(competition)" ui-sref="website.competitionRound({competitionName: competition.name, competitionRoundId: 'current'})">
        <div class="col-lg-5 col-md-4 col-xs-12 ellipsis-text">
            <b>{{competition.displayName}}</b>
        </div>
        <div class="col-lg-2 col-md-2 col-xs-12 ellipsis-text">
            <img src="/images/competitiontypes/{{competition.type}}.png" height="20px"> {{"competition.types." + competition.type
            | translate}}
        </div>
        <div class="col-lg-3 col-md-3 col-xs-12 ellipsis-text">
            <img src="{{competition.getOwner().val(0).getAvatarUrl()}} " class="img-circle " height="20px " align="top">            {{competition.getOwner().val(0).profile.displayName}}
        </div>
        <div class="col-lg-2 col-md-3 col-xs-12 ellipsis-text">
            <img src="/images/calendar.png" height="20px"> <small>{{competition.createdAt | date: 'medium'}}</small>
        </div>
    </div>
    <div class="row competition-list-entry">
        <div class="col-md-12 col-xs-12" ui-sref="website.newcompetition" style="text-align: center;">
            <i class="fa fa-plus" style="color: gray"></i> add new competition
        </div>
    </div>
</div>
<spacer height="30"></spacer>
<h4>All Competitions</h4>
<div class="row competition-list-entry" ng-repeat="competition in competitions track by $id(competition)" ui-sref="website.competitionRound({competitionName: competition.name, competitionRoundId: 'current'})">
    <div class="col-lg-5 col-md-4 col-xs-12 ellipsis-text">
        <b>{{competition.displayName}}</b>
    </div>
    <div class="col-lg-2 col-md-2 col-xs-12 ellipsis-text">
        <img src="/images/competitiontypes/{{competition.type}}.png" height="20px"> {{"competition.types." + competition.type
        | translate}}
    </div>
    <div class="col-lg-3 col-md-3 col-xs-12 ellipsis-text">
        <img src="{{competition.getOwner().val(0).getAvatarUrl()}} " class="img-circle " height="20px " align="top"> {{competition.getOwner().val(0).profile.displayName}}
    </div>
    <div class="col-lg-2 col-md-3 col-xs-12 ellipsis-text">
        <img src="/images/calendar.png" height="20px"> <small>{{competition.createdAt | date: 'medium'}}</small>
    </div>
</div>
