html {
    width: 100%;
    position: relative;
    min-height: 100%;
    margin: 0px;
}

::-moz-selection {
    /* Code for Firefox */
    color: #fff;
    background: #238f22;
}

::selection {
    color: #fff;
    background: #238f22;
}

.no-user-select {
    -webkit-user-select: none;
    -moz-user-select: none;
    user-select: none;
}

.forced-pointer {
    cursor: pointer;
}

[ng-reflect-router-link] {
    cursor:pointer;
}
