.page-footer {
    font-size: 12px;
    line-height: 20px;
    font-weight: 400;
    padding: 15px;
}

.page-footer a {
    color: rgba(255, 255, 255, 0.5);
}

.page-footer a:hover {
    color: rgba(255, 255, 255, 0.75);
}

.page-footer h4 {
    font-weight: 100;
    font-size: 1.2rem;
}
