
.header-component {
    background: url(images/header-bg-md-desktop.jpg) repeat-x;
    background-size: cover;
    background-position: center center;
    background-color: #34A232;
}

.header-component-text .text-component {
    font-size: 50px;
    color: white;
    font-weight: 100;
}
