<a href="/competition/{{::competitionName}}/rounds/current" ng-show="competitionName && isMobile"><i class="mobile-menu-button fa fa-angle-left" aria-hidden="true"></i></a>
<page-header text="Match Statistics"></page-header>
<spacer height="20"></spacer>

<div ng-if="loading" class="text-center">
    Loading Match Details...
</div>

<div ng-if="!loading" class="container">
    <div class="row">

        <div align="right">
            <!-- devices -->
            <span ng-if="isAdministrator && isManualCompetition && devices.length > 0">
                <select style="width:200px;display:inline-block" ng-options="device as device.deviceId for device in devices" ng-model="usedDevice" class="form-control"></select>
                <button ng-click="vm.useDevice(usedDevice)" class="btn btn-default">Use Device</button>
            </span>
            <a href="/competition/{{::competitionName}}/rounds/current" class="btn btn-success">Goto Competition</a>
        </div>

        <div class="col-xs-12">
            <h4>{{match.date | date : "EEEE, MMMM d, y, HH:mm"}}</h4>
            <div class="col-xs-4 text-center">
                <img src="{{src}}" height="200px" align="center" ng-repeat="src in match.getHomeTeam().getAvatarUrls() track by $index">
                <div>{{ match.getHomeTeam().name}}</div>
            </div>
            <div class="col-xs-4 text-center">
                <div class="mobile-match-results-row" style="font-size: 80px;">{{match.result[0] ? match.result[0] : "--"}} : {{match.result[1] ? match.result[1] : "--"}}</div>
            </div>
            <div class="col-xs-4 text-center">
                <img src="{{src}}" height="200px" align="center" ng-repeat="src in match.getAwayTeam().getAvatarUrls()" />
                <div>{{ match.getAwayTeam().name}}</div>
            </div>
        </div>

        <div class="clearfix"></div>
        <spacer height="20"></spacer>

        <div class="text-center col-xs-12">
            <div class="statistic-box">
                <div class="statistic-value">{{statistics.averagePoints}}</div>
                <div class="statistic-label">Average Points</div>
            </div>
            <div class="statistic-box">
                <div class="statistic-value">{{bets.length}}</div>
                <div class="statistic-label">Total Bets</div>
            </div>
            <div class="statistic-box">
                <div class="statistic-value">{{statistics.totalPointHits}}</div>
                <div class="statistic-label">Full Points</div>
            </div>
        </div>

        <!--<div class="clearfix"></div>
        <spacer height="20"></spacer>

        <div class="col-xs-12">
            <h4 ng-if="allowRating">Rate this match!</h4>
            <h4 ng-if="!allowRating">Rating Results</h4>
            <div class="text-center">
                <sensation-rating tags="{{match.getHomeTeam().getTeamName()}},{{match.getAwayTeam().getTeamName()}},group" key="{{match.getHomeTeam().getTeamName()}} vs. {{match.getAwayTeam().getTeamName()}}"
                    allow-rating-ref="allowRating" match-id="{{match.id}}"></sensation-rating>
            </div>
        </div>-->

        <div class="clearfix"></div>
        <spacer height="20"></spacer>

        <div ng-if="bets.length > 0" class="col-xs-12">
            <h4>All bets from all players</h4>
            <div class="col-xs-12" ng-repeat="bet in bets | orderBy : '-points'">
                <div class="col-xs-4 col-md-6">
                    <img src="{{bet.getOwner().val(0).getAvatarUrl()}}" class="img-circle" height="40px"> <span class="ellipsis-text">{{bet.getOwner().val(0).profile.displayName}}</span>
                </div>
                <div style="white-space: nowrap" class="col-xs-3 col-md-1">
                    <span class="mobile-bet-character">{{bet.result[0]}}</span>
                    <span class="mobile-bet-character-noblack">:</span>
                    <span class="mobile-bet-character">{{bet.result[1]}}</span>
                </div>
                <div class="text-center col-xs-5 col-md-5" style="white-space: nowrap">
                    <img style="height: 30px;" src="/images/trophys/placeholder.png" ng-repeat="n in _.range(0, (match.maxPoints - bet.points))">
                    <img style="height: 30px;" src="/images/trophys/3_1.png" ng-repeat="n in _.range(0, bet.points)">
                </div>
            </div>
        </div>
    </div>
</div>
