<page-header text="Home"></page-header>

<div class="container">
	<div class="row">

		<div class="col-xs-12" ng-if="!$root.currentUser">
			<div class="well">
				<h1>Welcome</h1>
				<span>Please login or register to use cuppy.io!</span>
				<a class="btn btn-block btn-success mt20" href="/login">Login</a>
				<a class="btn btn-block btn-success" href="/register">Register</a>
			</div>
		</div>


		<div class="col-xs-12 mb40">
			<div class="section">
				<h1>Rules</h1>

				<h3>League Soccer</h3> Rules :
				<ul>
					<li>All bets have to be placed before the game starts.</li>
					<li>Bets are always for the end result of a game, including additional time and penalty shootout</li>
				</ul>
				Points :
				<ul>
					<li><img src="/images/trophys/3_1.png" height="20px"> 3 points if you bet the exact end result</li>
					<li><img src="/images/trophys/2_1.png" height="20px"> 2 points if you bet the tendency of the end result</li>
					<li><img src="/images/trophys/1_1.png" height="20px"> 1 point if you bet for the winner of the end result</li>
				</ul>


				Examples :
				<div class="col-xs-12">
					<div class="col-xs-4" align="center">
						<b>Result</b>
					</div>
					<div class="col-xs-4" align="center">
						<b>Your Bet</b>
					</div>
					<div class="col-xs-4" align="center">
						<b>Points</b>
					</div>
				</div>

				<div class="col-xs-12">
					<div class="col-xs-4" align="center">3:1</div>
					<div class="col-xs-4" align="center">3:1</div>
					<div class="col-xs-4" align="center">3</div>
				</div>

				<div class="col-xs-12">
					<div class="col-xs-4" align="center">3:1</div>
					<div class="col-xs-4" align="center">4:2</div>
					<div class="col-xs-4" align="center">2</div>
				</div>

				<div class="col-xs-12">
					<div class="col-xs-4" align="center">3:1</div>
					<div class="col-xs-4" align="center">2:1</div>
					<div class="col-xs-4" align="center">1</div>
				</div>

				<div class="col-xs-12">
					<div class="col-xs-4" align="center">3:1</div>
					<div class="col-xs-4" align="center">2:9</div>
					<div class="col-xs-4" align="center">0</div>
				</div>

				<p>&nbsp;</p>

				<h3>Tournaments & Cups</h3> Examples :
				<ul>
					<li>Champions League</li>
					<li>World Cup</li>
					<li>FA Cup</li>
					<li>etc.</li>
				</ul>
				The same rules apply as above, just that you will get doubled points from the finals on! So in the World Cup 2014 for example,
				you will get 2, 4, and 6 points right after the preliminary round.
				<br /> You'll get special medals as well : <img src="/images/trophys/6_2.png" height="40px"> <img src="/images/trophys/4_2.png"
					height="40px"> <img src="/images/trophys/2_2.png" height="40px">





			</div>
		</div>
	</div>
</div>