.navbar-default {
    background-color: #222b21;
}

.navbar .nav>li>a {
    font-size: 14px;
    line-height: 22px;
    font-weight: 400;
    text-transform: uppercase;
}

.navbar-default .navbar-nav>.active>a, .navbar-default .navbar-nav>.active>a:hover, .navbar-default .navbar-nav>.active>a:focus {
    background-color: rgba(0, 0, 0, 0.13);
}
